<header class="header">
    <div class="header__top">
        <a href="index.html" class="header__logo">
            <img src="img/logo.png" class="header__logo-img">
            <span class="header__logo-text">АНО "Историческое общество Сибирского федерального округа"</span>
        </a>
        <ul class="header__projects"></ul>
        <div class="header__contacts">
            <a  data-fancybox href="https://www.google.ru/maps/place/%D1%83%D0%BB.+%D0%9E%D1%80%D0%B4%D0%B6%D0%BE%D0%BD%D0%B8%D0%BA%D0%B8%D0%B4%D0%B7%D0%B5,+38,+%D0%9D%D0%BE%D0%B2%D0%BE%D1%81%D0%B8%D0%B1%D0%B8%D1%80%D1%81%D0%BA,+%D0%9D%D0%BE%D0%B2%D0%BE%D1%81%D0%B8%D0%B1%D0%B8%D1%80%D1%81%D0%BA%D0%B0%D1%8F+%D0%BE%D0%B1%D0%BB.,+630099/@55.0322419,82.9332299,16.5z/data=!4m5!3m4!1s0x42dfe5dd3526c189:0x6fedcbcc9e5d678f!8m2!3d55.032142!4d82.935984" target="_blank"><span class="header__contacts-item">РОССИЯ, 630099,</span> <span
                    class="header__contacts-item">г. Новосибирск,</span>
                <span class="header__contacts-item">ул. Орджоникидзе, 38,</span> <span
                        class="header__contacts-item">офис 703</span></a><br>
            <span class="header__contacts-item">тел. <a href="tel:+73833637606">363-76-06</a>,</span> <span
                class="header__contacts-item">факс <a
                href="tel:+73833637607">8(383) 363-76-07</a></span><br>
            <span class="header__contacts-item"><a href="mailto:ekaterinavboldyreva@yandex.ru">e-mail: ekaterinavboldyreva@yandex.ru</a></span><br>
            <span class="header__contacts-item"><a href="mailto:Bestler@mail.ru">e-mail: Bestler@mail.ru</a></span>
        </div>
    </div>
    <nav class="header__menu">
        <div class="header__menu-mobile-icon icon-menu">меню</div>
        <ul class="header__menu-list">
            <li class="header__menu-item"><a href="about.html">О нас</a></li>
            <li class="header__menu-item"><a href="news.html">Новости</a></li>
            <li class="header__menu-item"><a href="projects.html">Проекты</a></li>
            <li class="header__menu-item"><a href="docs.html">Документы</a></li>
            <!--<li class="header__menu-item"><a href="articles.html">Статьи</a></li>-->
        </ul>
    </nav>
    <div class="loading"><img class="loading__img" src="img/loading.svg"></div>
</header>